* text=auto
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.command text eol=lf
*.sh text eol=lf
*.txt text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
*.cmd text eol=crlf
*.mid binary
*.mmp text eol=lf
